<header class="hero">
    <div class="hero-layer">
        <div class="container h-100">
            <div class="row h-100 align-items-center text-light">
                <div class="col-lg-12 row mt-5 mb-5">
                    <div class="col-lg-6">
                        <h1 class="display-4 font-weight-normal">Welcome {{#if session}}{{sessionUser}}{{/if}}</h1>
                        <h3 class="">Millions of movies and people
                            to discover <br>Explore now</h3>
                    </div>
                    <div class="col-lg-6">
                        <div class="row mt-5">
                            <div class="col-md-12 mx-auto">
                                <div class="input-group">
                                    <input class="form-control border-end-0
                                                border" type="search" placeholder="search" id="movies-search-box">
                                    <span class="input-group-append">
                                        <button class="btn bg-white ms-n5" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>